<div class="text-info ms-3 mt-1">
    
  <h6>{{sDetails | date: "short"}}</h6>

</div>
<div class="text-end">
<button (click)="logout()" class="me-3 mt-2 btn btn-info">logout</button>
</div>

<div class="text-end">
<button (click)="deleteAcc()" class="me-3 mt-2 btn btn-danger ">Delete</button>
</div> 


<app-delete  (ondelete)="ondeleteAcc($event)"(onCancel)="cancelchild()" class="text-info" [item]="acno"></app-delete>

<h3 style="color:orangered"class="mt-3 p-2 ms-2 text-center">Welcome {{user}} </h3>


<div [ngClass]="acno?'s1':''" style="color: rgb(11, 97, 177); background-color: rgb(22, 22, 22); border-radius: 20px;" class="mt-2 p-3 w-50 container text-center border">
<a  style="text-decoration: none; color:honeydew"routerLink="/transaction">View Transaction Details</a>

</div>

<div   [ngClass]="acno?'s1':''" class="row">

<div class="col-6 p-3">
<form [formGroup]="depositForm" style="background-color: rgb(22, 22, 22); border-radius: 20px; text-align: center; "action="" class="mt-2 p-3 w-50 container">
<h4 class="text-center  " style="color: rgb(29, 28, 28); color:bisque" > Deposit</h4>

<div class="p-2 mt-2">
<input formControlName="acno" id="ac1" name ="acno" style=" background-color:cornflowerblue; border:none" class=" form-control mt-2 p-2"type="text" placeholder="account number">
</div>

<div *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched" class="text-start ms-2">
<p class="text-danger">include numbers only</p>
</div>

<div class="p-2 mt2">
<input formControlName="psw" id="p1" name ="password" style="background-color:cornflowerblue ;border:none" class=" form-control mt-2 p-2"type="password" placeholder="enter password">
</div>
<div *ngIf="this.depositForm.get('psw')?.errors && this.depositForm.get('psw')?.touched" class="text-start ms-2">
<p class="text-danger">include charactors and numbers</p>
</div>
<div class="p-2 mt2">
<input formControlName="amnt" id="a1" name ="amnt" style="background-color:cornflowerblue; border:none" class=" form-control mt-2 p-2"type="password" placeholder="amount">
</div>

<div *ngIf="this.depositForm.get('amnt')?.errors && this.depositForm.get('amnt')?.touched" class="text-start ms-2">
<p class="text-danger">include numbers only</p>
</div>
<button (click)="deposit()" class=" btn btn-danger mt-4 p-2 "> Deposit</button>
  
</form> 
</div>



<div class="col-6 p-3">
  <form  [formGroup]="withdrawForm" style="background-color: rgb(22, 22, 22); border-radius: 20px; text-align: center;"action="" class="mt-2 p-3 w-50 container">
      <h4 class="text-center  " style="color: rgb(29, 28, 28); color:bisque" >Withdraw</h4>
  
  <div class="p-2 mt-2">
      <input  formControlName="acno1" id="ac1" name ="acno" style=" background-color:cornflowerblue;  border:none " class=" form-control mt-2 p-2"type="text" placeholder="account number">
  </div>
  <div *ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched" class="text-start ms-2">
      <p class="text-danger">include numbers only</p>
</div>
  <div class="p-2 mt2">
      <input formControlName="psw1"  id="p1" name ="password" style="background-color:cornflowerblue ;border:none" class=" form-control mt-2 p-2"type="password" placeholder="enter password">
  </div>
  <div *ngIf="this.withdrawForm.get('psw1')?.errors && this.withdrawForm.get('psw1')?.touched" class="text-start ms-2">
      <p class="text-danger">include charactors and numbers</p>
  </div>
  <div class="p-2 mt2">
      <input formControlName="amnt1" id="a1" name ="amnt" style="background-color:cornflowerblue; border:none" class=" form-control mt-2 p-2"type="password" placeholder="amount">
  </div>
  <div *ngIf="this.withdrawForm.get('amnt1')?.errors && this.withdrawForm.get('amnt1')?.touched" class="text-start ms-2">
      <p class="text-danger">include numbers only</p>
</div>
  
  <button (click)="withdraw()" class=" btn btn-danger mt-4 p-2"> Withdraw</button>
  
  </form> 
      </div>
  

</div>

